.App {
  font-family: sans-serif;
  text-align: center;
}
.Loader {
  display: flex;
  justify-content: center;
}
.Image {
  height: 200px;
  width: 100%;
}
.Quotation {
  background-color: rgba(181, 176, 253, 0.377);
  padding: 10px;
  margin-top: 25px;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
