.App {
  font-family: sans-serif;
  text-align: center;
}
.Loader {
  display: flex;
  justify-content: center;
}
.Image {
  height: 300px;
}
.Quotation {
  background-color: rgb(184, 137, 255);
  padding: 10px;
  margin-top: 25px;
  border-radius: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
