$headerHeight: 69px;
$footerHeight: 69px;

:root {
  --header-height: #{$headerHeight};
  --footer-height: #{$footerHeight};
}

// Breakpoints
// 'null' disable the breakpoint
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 'null'
) !default;

// Viewports
$viewports: (
  // 'null' disable the viewport on a breakpoint
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 'null'
) !default;

/* Custom Class-less version for React */

// Set the root element
$semantic-root-element: '#app';

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;
