@import '../constants/constants.scss';

.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  article {
    padding: 0;
    overflow: hidden;
    margin: var(--spacing) 0;
  }

  article div {
    padding: 1rem;
  }

  @media (min-width: 576px) {
    article div {
      padding: 1.25rem;
    }
  }

  @media (min-width: 768px) {
    article div {
      padding: 1.5rem;
    }
  }

  @media (min-width: 992px) {
    article div {
      padding: 1.75rem;
    }
  }

  /* Hero Image */
  article .login,
  article .register {
    display: none;
    background-color: #374956;
    background-image: url('../assets/flowers.jpg');
    background-position: center;
    background-size: cover;
  }

  .register {
    background-image: url('../assets/tulips.jpg') !important;
  }

  @media (min-width: 992px) {
    .grid .login,
    .grid .register {
      display: block;
    }
  }
}
