.editor-page {
  box-shadow: var(--card-box-shadow);
  flex: 1;
  padding: var(--spacing) var(--spacing) 0 var(--spacing) !important;
  display: flex;
  flex-direction: column;

  .add-box {
    padding-top: var(--spacing);
    display: flex;
    justify-content: center;
    padding-right: var(--spacing);
    margin-bottom: var(--spacing);

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: var(--spacing);
      cursor: pointer;

      span {
        background-color: var(--primary);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        color: var(--primary-inverse);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3px;
        font-size: 30px;
        transition: background-color var(--transition),
          border-color var(--transition), color var(--transition),
          box-shadow var(--transition);

        &:hover {
          background-color: var(--primary-hover);
        }
      }

      i {
        font-style: normal;
        font-size: smaller;
        text-transform: capitalize;
      }
    }
  }

  .item {
    display: flex;
    margin-bottom: var(--spacing);
    margin-right: -5px;
    min-height: 120px;
    // background-color: aqua;

    & > div:nth-of-type(1) {
      flex: 1;
    }

    & > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      // padding-top: 16px;
      // width: 30px;
      align-items: center;
      // background-color: aqua;

      span {
        cursor: pointer;
      }

      .disable {
        display: none;
      }

      div {
        margin-top: 6px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .push {
    display: flex;
    flex: 1;
  }
}
