@import '../constants/constants.scss';

@import '../scss/container';

.footer {
  display: flex;
  justify-content: center;
  height: 80px;

  &-container {
    padding: $freeSpace;
    background-color: $lightblue;
    color: darken($lightblue, 60);
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}
