@import '../constants/constants.scss';

.header {
  display: flex;
  justify-content: center;
  height: $headerHeight;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo,
    .login {
      padding: $freeSpace;
      color: $white;
      cursor: pointer;

      &:hover {
        background-color: lighten($black, 8);
      }
    }
  }
}
