.likes {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;

  .material-symbols-outlined {
    font-size: 2rem;
    margin-right: 5px;
    color: var(--primary);
  }

  .fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

  i {
    font-style: normal;
    font-size: 1.2rem;
  }
}
