@import './constants/constants';
@import './scss/reset';

html {
  min-height: 100%;
  // font-size: 1em;
}

html,
body,
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  padding-top: calc(var(--header-height) + var(--spacing));
  // background-image: url('../public/flowers.jpg');
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
}

main {
  // padding-top: calc(var(--header-height) + var(--spacing));
}

// https://fonts.google.com/icons
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 28px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import './scss/pico';
