@import './constants/constants';
@import './scss/reset';

html {
  min-height: 100%;
  font-size: 1em;
}

html,
body,
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  padding-top: calc(var(--header-height) + var(--spacing));
}

// Breakpoints
// 'null' disable the breakpoint
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 'null'
) !default;

// Viewports
$viewports: (
  // 'null' disable the viewport on a breakpoint
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 'null'
) !default;

@import './scss/pico';
